<div class="total">
  <label><b>{{localize "OSRIS.itemShop.purchaseTotal"}}</b>:</label>
  <input type="text" data-dtype="Number" value="0" placeholder="0" disabled>
</div>
<button>{{localize "OSRIS.itemShop.buyItems"}}</button>