<div class="osris config">
  <div class="options">
    <h3>OSR Item Shop Config</h3>
    <div class="row">
      <label for="shopName" title="Activate this actor a as new item shop."><b>Item Shop Active</b>:</label>
      <input type="checkbox" id="actorShopActive" data-id="{{actor._id}}"{{#if shopEnabled}}checked{{/if}} >
    </div>
    <div class="row">
      <label for="shopName"><b>Shop Name</b>:</label>
    </div>
    <div class="row">
      <input type="text" id="shopName" data-id="{{actor._id}}" value="{{shopName}}">
    </div>
  </div>
  
  <a class="update-shop-config-btn">Update Shop Config</a>

</div>
