<form id="osrItemShopForm">
  <div id="item-shop-container">
    <h1>Welcome To The Shop!</h1>
    <header>
      <img src="modules/osr-item-shop/img/merchant-01.webp" id="merchant-img" />
      <div id="merchant-details"></div>
    </header>
    <div id="item-container">
      <div class="item-col" id="shopWeapons">
        <div class="shop-item">
          <div class="item-name">Tinder Box (flint and steel)</div>
          <div class="item-price">Price: 10GP</div>
          <input type="number" class="item-qty" name="Tinder Box (flint and steel)" value="0" />
        </div>
        <div class="shop-item">
          <div class="item-name">Tinder Box (flint and steel)</div>
          <div class="item-price">Price: 10GP</div>
          <input type="number" class="item-qty" name="Tinder Box (flint and steel)" value="0" />
        </div>
        <div class="shop-item">
          <div class="item-name">Tinder Box (flint and steel)</div>
          <div class="item-price">Price: 10GP</div>
          <input type="number" class="item-qty" name="Tinder Box (flint and steel)" value="0" />
        </div>
        <div class="shop-item">
          <div class="item-name">Tinder Box (flint and steel)</div>
          <div class="item-price">Price: 10GP</div>
          <input type="number" class="item-qty" name="Tinder Box (flint and steel)" value="0" />
        </div>
        <div class="shop-item">
          <div class="item-name">Tinder Box (flint and steel)</div>
          <div class="item-price">Price: 10GP</div>
          <input type="number" class="item-qty" name="Tinder Box (flint and steel)" value="0" />
        </div>
        <div class="shop-item">
          <div class="item-name">Tinder Box (flint and steel)</div>
          <div class="item-price">Price: 10GP</div>
          <input type="number" class="item-qty" name="Tinder Box (flint and steel)" value="0" />
        </div>
      </div>
      <div class="item-col"></div>
      <div class="item-col"></div>
    </div>
    <footer>
      <button type="submit" name="sumbit"><i class="fa fa-check"></i> OK</button>
    </footer>
  </div>
</form>
