:root {
  /* --main-color: rgb(131, 9, 76);
  --bg-color: rgb(236, 232, 214);
  --border-a: rgb(78, 3, 38);
  --list-row-bg: rgba(78, 3, 38,0.1);
  --light-text: antiquewhite;
  --dark-text: black;
  --light-color: rgb(190, 15, 111);
  --tab-color: rgb(126, 19, 64);
  --tab-highlight: rgb(240, 151, 68); */
  --main-color: rgb(6, 90, 105);
  --bg-color: rgb(236, 232, 214);
  --border-a: rgb(2, 51, 59);
  --list-row-bg: rgba(2, 68, 68, 0.15);
  --light-text: antiquewhite;
  --dark-text: black;
  --light-color: rgb(15, 164, 190);
  --tab-color: rgb(14, 107, 110);
  --tab-highlight: rgb(67, 218, 205);
  --shop-select-color: rgb(153, 17, 58);
  --shop-select-hilight:rgb(231, 0, 89);
  --glow-color: rgba(255, 62, 191, 0.486);
  --trans-bg: rgba(16, 160, 185, 0.13);
}