.pl10 {
  padding-left: 10px;
}
.ph10 {
  padding: 0 10px 0 10px;
}
.ph5 {
  padding: 0 5px 0 5px;
}
.pb5 {
  padding-bottom: 5px;
}
#pack-div,
#pack-button-div {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-bottom: 1em;
}
#pack-div .radio-select {
  display: flex;
  justify-content: center;
  margin-top: 0.5em;
}
#fastPack .pack-col {
  width: 150px;
  margin-bottom: 0.5em;
  /* background-color: rgb(165, 165, 141); */
}
#pack-title {
  text-align: center;
}
#osrItemShopForm #item-shop-container {
  min-height: 700px;
}
#osrItemShopForm #details {
  min-width: 300px;
}
.item-flex {
  display: flex;
  justify-content: space-between;
}
#osrItemShopForm #item-shop-container {
  display: flex;
  justify-content: space-between;
}
#osrItemShopForm #item-container {
  display: flex;
}
#osrItemShopForm div.item-name {
  width: 160px;
}
#osrItemShopForm div.item-price {
  width: 80px;
  margin-left: 10px;
}
#osrItemShopForm .item-col {
  width: 290px;
}
#osrItemShopForm .shop-item {
  /* background-color: orange; */
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
}
#osrItemShopForm .shop-qty {
  width: 30px;
}
#osrItemShopForm input[type='number'] {
  width: 30px;
  background: rgb(240, 240, 240);
}
#merchant-img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}
#osrItemShopForm .category-div {
  width: 100%;
  overflow: hidden;
}
.list-div {
  padding: 0.25em 0.5em;
  padding-bottom: 1em;
}
#osrItemShopForm #merchantInfo {
  display: flex;
  justify-content: space-between;
}
#osrItemShopForm #ammunition {
  margin-top: 10px;
  background-color: rgba(151, 29, 29, 0.075);
  border: 3px solid rgba(151, 29, 29, 0.418);
}
#osrItemShopForm #weapons {
  background-color: rgba(173, 0, 0, 0.103);
  border: 3px solid rgba(173, 0, 0, 0.377);
}
#osrItemShopForm #armor {
  background-color: rgba(219, 117, 1, 0.096);
  border: 3px solid rgba(219, 117, 1, 0.452);
}
/* #osrItemShopForm #items {
  background-color: rgba(43, 151, 29, 0.082);
  border: 3px solid rgba(43, 151, 29, 0.432);
} */
#osrItemShopForm #button-div {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  padding: 0 1em;
}

#osrItemShopForm h2 {
  font-size: medium;
  text-align: center;
  padding-top: 0.1em;
}
#osrItemShopForm .shop-br {
  border-radius: 1em;
}

/*  */
#osrItemShopForm .item-btn {
  width: 15px;
  height: 15px;
  line-height: 7px;
  /* text-align: center; */
}
.shop-item-btn {
  margin: 0;
  width: auto;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
#itemShopForm .window-content {
  background-image: none;
  background-color: #fff;
}
#osrItemShopForm #sources {
  height: 345px;
  /* margin-top: 10px; */
  background-color: rgba(151, 29, 29, 0.075);
  border: 3px solid rgba(151, 29, 29, 0.418);
}
#osrItemShopForm #sourceOptions {
  margin-top: 10px;
  height: 345px;
  background-color: rgba(219, 117, 1, 0.096);
  border: 3px solid rgba(219, 117, 1, 0.452);
}
#osrItemShopForm #items {
  overflow: hidden;
  height: 700px;
  background-color: rgba(43, 151, 29, 0.082);
  border: 3px solid rgba(43, 151, 29, 0.432);
}
#osrItemShopForm #shoppingCart {
  height: 580px;
  background-color: rgba(43, 151, 29, 0.082);
  border: 3px solid rgba(43, 151, 29, 0.432);
}

.item-cont {
  height: 700px;
  overflow: scroll;
  /* scrollbar-color: blue green !important; */
  padding-bottom: 30px;
}
.list-cont {
  min-height: 100%;
  overflow: auto;
}

.qty-btn-div {
  margin: 0;
  min-width: 35px;
}
.item-header {
  display: flex;
  justify-content: space-between;
  padding: 5px 5px 0 5px;
  border-bottom: 3px solid rgba(43, 151, 29, 0.432);
}
.cart-header {
  display: flex;
  justify-content: center;
  padding: 5px 5px 0 5px;
  border-bottom: 3px solid rgba(43, 151, 29, 0.432);
}
.source-header {
  display: flex;
  justify-content: center;
  padding: 5px 5px 0 5px;
  border-bottom: 3px solid rgba(151, 29, 29, 0.418);
}
.portrait-header {
  display: flex;
  justify-content: center;
  padding: 5px 5px 0 5px;
  border-bottom: 3px solid rgba(219, 117, 1, 0.452);
}
.item-header-name {
  width: 155px;
}
.item-header-price {
  width: 90px;
}
.item-header-add {
  width: 35px;
}
.cart-div {
  width: 100%;
  height: 580px;
  overflow: scroll;
  padding-bottom: 30px;
}
/* ::-webkit-scrollbar-thumb {
  outline: none;
  border-radius: 3px;
  background: var(red) !important;
  border: 1px solid var(blue) !important;
} */

.shop-item:nth-of-type(even) {
  /* color: red */
  background-color: rgba(50, 50, 50, 0.1);
}
